* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --slack-color: #330b33;
  --slack-color-shades1: #4a154b;
  --white: #fff;
  --white2: #808080;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* color */
